*,
*:after,
*:before {
  box-sizing: border-box;
  cursor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Arial Unicode MS", sans-serif;
  padding: 0.125em 0.25em;
  line-height: 1.125;
  user-select: none;
}

.true {
  color: cyan;
  background-color: red;
}

.false {
  color: red;
  background-color: cyan;
}
